.bar{
    background-color: #697296;
    opacity: 8;
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    border-style: inline;
}
.main{
    background-color: #776996;
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    width: 75%;
    height: 700px;
    margin:auto;
    opacity: 8;
}
body{
    background-color:#698896;
}
#canvas {
    border: 2px solid black;
    background:url("../pics/kitchen.png");
    margin:auto;
    /* this is the game box */
    width: 75%;
    height: 65%;
}
.draggable{
    width: 100px;
    height: auto;
    cursor:grab;
}
#bowl{
    position:absolute;
    width:200px;
    height: auto;
}
#counter{
    position: fixed;
}

.draggable.dragging{
    opacity: .5;
    cursor:grab;
}


