body {
    background-image: url("/pics/backdrop.png");
    background-size: 200px;
}
.main{
    background-color: #FFF8DC;
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    width: 75%;
    height: 700px;
    margin:auto;
    border-radius: 3px;
    margin-top:10px;
    padding: 10px;
    display: flex;
    text-align: center;

}
#loginform{
    margin:auto;
}
#loginbutton{
    position: sticky;
    top:0;
    right:0;
    width:150px;
    background-color: #5296a5;
    text-align: center;


}
nav {
    border: #664147 3px solid;
    background-color: #987671;
    font-weight: bold;
    width:35%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    font-family: monospace;
    border-radius: 10px;
  
}
nav a{
    padding:2%;
    border-right: black solid 1px;
    position: relative;
    width:100%;
    font-family: monospace;
    font-size: 12pt;
}

.blurb{
    background-color: #987671;
    border: #664147 3px solid;
    font-family: monospace;
    font-weight: bold;
    width:200px;
    height:fit-content;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top:10px;
}

a:link{
    text-decoration:none;
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    background-color: #5296a5;
    color:white;
}
a:active{
    color:aquamarine;
    background-color:#FFF8DC;
}
#sidebar{
    border: #664147 3px solid;
    background-color: #987671;
    font-weight: bold;
    width:12%;
    height:99.5%;
    text-align: center;
    font-family: monospace;
    border-radius: 3px;
    float:left;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    margin-left:0;
    
}
#sidebar a{
    border:none;
}
